body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

p {
    font-size: 18px;
    font-family: 'sans-serif';
    font-weight: bolder;
}

.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.form-step {
    display: none;
}

.form-step.active {
    display: inline;
    /* display: inline;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

label {
    margin-left: 8px;
    margin-top: 16px;
    font-size: 16px;
    color: #171717;

}

#step1 input,
#step3 input {
    margin-top: 5px;
    transform: scale(1.1);
}

#step2 input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}


button {
    background-color: #4caf50;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 11px;
}

.step-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.step-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
}

.active-circle {
    background-color: #4caf50;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #eee;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
}

.progress {
    height: 100%;
    width: 0;
    background-color: #4caf50;
    transition: width 0.3s ease-in-out;
}

.dropdown_style {
    display: block;
    margin: 10px 0px 0px 0px;
    width: 100%;
    padding: 2%;
    font-size: 14px;
    border-radius: 5px;

}
